div.navbar.navbar-fixed-top
  div.navbar-inner
    div.container
      a.brand(href='#') 96 Alexander's weight tracking!

div.container

  div.row
    div.span12#chart

  script 
    - var data = 

  div.row
    form.form-horizontal(action='addWeight', method='post')
      fieldset
        legend Add your weight to the data
        div.control-group
          label.control-label User:
          div.controls
            select(name='user')
               each user in db['users']
                 option= user['name']

        div.control-group
          label.control-label Date:
          div.controls
            input(type='calendar', name='date')

        div.control-group
          label.control-label Weight:
          div.controls
            input(type='select', name='user')

        div.form-actions.well
          button.btn.primary(type='submit')
            | Add weight
