div.navbar.navbar-fixed-top
  div.navbar-inner
    div.container
      a.brand(href='#') 96 Alexander's weight tracking!

div.container
  div.row
    div.span12#chart

  - var weightUsers = db.users
  - var james = db.users[0].data

  script
    // Bring up the datepicker in my form
    $(function() {
      $("#datepicker").datepicker();
    });

    var graph = new Rickshaw.Graph( {
        element: document.querySelector("#chart")
      , width: 940
      , height: 400
      , renderer: 'line'
      , series: [
          { color: 'steelblue', data: !{JSON.stringify(james)} }
        ]
    });
    var axes = new Rickshaw.Graph.Axis.Time( { graph: graph } );
    graph.render();

  div.row
    form.form-horizontal(action='addWeight', method='post')
      fieldset
        legend Add your weight to the data
        div.control-group
          label.control-label Name:
          div.controls
            select(name='user')
              each user in db.users
                option= user.name

        div.control-group
          label.control-label Date:
          div.controls
            input#datepicker(type='text', name='date')

        div.control-group
          label.control-label Weight:
          div.controls
            input(type='text', name='weight')

        div.form-actions.well
          button.btn.primary(type='submit')
            | Add weight
