- var series = []
- var users = []
- if (db.users) {
-   users = db.users.sort( function compare(a, b) {
-     if (a.name < b.name) {
-       return -1;
-     }
-     if (a.name > b.name) {
-       return 1;
-     }
-     return 0;
-   });
-   users.forEach( function(user) {
-     userSeries = {}
-     userSeries.name = user.name
-     userSeries.data = user.data.sort( function compare(a, b) {
-       if (a.x < b.x) {
-         return -1;
-       }
-       if (a.x > b.x) {
-         return 1;
-       }
-       return 0;
-     });
-     series.push(userSeries)
-   })
- }

.row
  h1 96 Alexander's weight tracker

style
  #chart_container {
          position: relative;
  }
  #chart {
          position: relative;
          left: 40px;
  }
  #y_axis {
          position: absolute;
          top: 0;
          bottom: 0;
          width: 40px;
  }

.row
  #chart_container
    #y_axis
    #chart

script
  // Bring up the datepicker in my form
  $(function() {
    $("#datepicker").datepicker();

    // Set up the series data
    var houseSeries = !{JSON.stringify(series)}
    Rickshaw.Series.stepFill(houseSeries)

    // Add a color for each participant
    var palette = new Rickshaw.Color.Palette();
    houseSeries.forEach(function( dataSeries ) {
      dataSeries.color = palette.color()
    });

    var graph = new Rickshaw.Graph( {
        element: document.querySelector("#chart")
      , width: 900
      , height: 500
      , renderer: 'line'
      , interpolation: 'step-after'
      , series: houseSeries
    });

    var hoverDetail = new Rickshaw.Graph.HoverDetail( {
      graph: graph
    });

    // Tighten the interpolation
    //this.graph.interpolation.tension(0.2);

    var x_axis = new Rickshaw.Graph.Axis.Time( { graph: graph } );
    var y_axis = new Rickshaw.Graph.Axis.Y( {
        graph: graph
      , orientation: 'left'
      , tickFormat: Rickshaw.Fixtures.Number.formatKMBT
      , element: document.getElementById('y_axis')
    });

    graph.render();
  });

.row
  form.form-horizontal(action='addWeight', method='post')
    fieldset
      legend Add your weight to the data
      .control-group
        label.control-label Name:
        .controls
          select(name='user')
            each user in users
              option= user.name

      .control-group
        label.control-label Date:
        .controls
          input#datepicker(type='text', name='date')

      .control-group
        label.control-label Weight:
        .controls
          input(type='text', name='weight')

      .form-actions.well
        button.btn.primary(type='submit') Add weight
        &nbsp;
        a(href='/newUser') Not in the system?
