h1= title
p 96 Alexander yo!

p Users
  ul
    each user in db['users']
      li= user['name']

hr

form(action='addWeight', method='post')
  label User:
  select(name='user')
     each user in db['users']
       option= user['name']

  label Date:
  input(type='calendar', name='date')

  label Weight:
  input(type='select', name='user')

  input(type='submit', value='Add weight')
