extends layout

block styles
  link(rel='stylesheet', href='/css/styles.css')
  link(rel='stylesheet', href='/css/colors.css')

  style.
    .axis path,
    .axis line {
      fill: none;
      stroke: #000;
      shape-rendering: crispEdges;
    }

    .x.axis path {
      display: none;
    }

    .line {
      fill: none;
      stroke-width: 1.5px;
    }

block content
  .row
    h1 96 Alexander's weight tracker

  style.
    #chart_container {
            position: relative;
    }
    #chart {
            position: relative;
            left: 40px;
    }
    #y_axis {
            position: absolute;
            top: 0;
            bottom: 0;
            width: 40px;
    }

  .row
    #chart

  .row
    h2 Add your weight!

    form.form-horizontal(role="form", action='/weights/add', method='post')
      .form-group
        label(for='user') Name:
        select.form-control#user(name="user")
          each user in users
            option= user.name

      .form-group
        label(for='date') Date:
        input.form-control#date(type='text', name='date', placeholder='Date')

      .form-group
        label(for='weight') Weight:
        input.form-control#weight(type='text', name='weight', placeholder='160')

      button.btn.btn-default(type='submit') Add weight
      a.extra-space(href='/users/new') Not in the system?

block scripts
  script(src="/js/weight_chart.js")
