div.container
  h1= title
  p 96 Alexander yo!

  form.form-horizontal(action='addWeight', method='post')
    fieldset
      legend Add your weight to the data
      div.control-group
        label.control-label User:
        div.controls
          select.span2(name='user')
             each user in db['users']
               option= user['name']

      div.control-group
        label.control-label Date:
        div.controls
          input.span2(type='calendar', name='date')

      div.control-group
        label.control-label Weight:
        div.controls
          input.span2(type='select', name='user')

      div.form-actions.well
        button.btn.primary(type='submit')
          | Add weight
