!!!
html
  head
    title= title
    link(rel='stylesheet/less', type='text/css', href='stylesheets/bootstrap.less')
    link(rel='stylesheet', href='stylesheets/rickshaw.min.css')

    script(src='javascripts/less-1.2.1.min.js', type='text/javascript')
    script(src='javascripts/d3.min.js', type='text/javascript')
    script(src='javascripts/d3.layout.min.js', type='text/javascript')
    script(src='javascripts/rickshaw.min.js', type='text/javascript')

  body!= body
    
