extends layout

block content
  .row
    .span12
      h1= title

  .row
    .span12
      form.well.form-inline(action='/users/add', method='post')
        input(type='text',name='userName', placeholder='Name')
        button.btn(type='submit') Add me!
